@font-face {
    font-family: Josesif-Sans;
    src: url(./font/Josefin_Sans/static/JosefinSans-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Josesif-Sans;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    width: 60%;
    height: 80%;
}

.left, .right {
    flex: 1;
}

.left {
    background-color: white;
    padding: 2rem 0;
}

.left header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
}

.left form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-field {
    width: 20rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.form-field input {
    height: 2.5rem;
    padding: 0 1rem;
    margin-top: 0.5rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
}

.left footer {
    width: 20rem;
    margin: 0.5rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.forgot-pass {
    margin-top: 1rem;
}

.footer-log-in-btn {
    width: 100%;
    border: none;
    font-size: 1.1rem;
    background-color: rgb(158, 88, 215);
    color: white;
    border-radius: 12px;
    padding: 0.75rem;
    margin: 0 auto;
}

.continue-with {
    text-align: center;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.socials img {
    width: 2rem;
    height: 2rem;
}

.right {
    background-image: url(./assets/bg-image2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
